<h1>Dashboard</h1>

<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th>Number of Items</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Products</td>
        <td><%= @num_of_products %></td>
      </tr>
      <tr>
        <td>Categories</td>
        <td><%= @num_of_categories %></td>
      </tr>
    </tbody>
  </table>
</div>
